* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #333;
}

.main {
    min-height: 100vh;
    background: #147cd5;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}

#check-navbar {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

#check-navbar:checked~.icons #menu-icon {
    display: none;
}

.icons #close-icon {
    display: none;
}

    #check-navbar:checked~.icons #close-icon {
        display: block;
    }

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check-navbar:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        padding-left: 50%;
        padding-right: 50%;
        margin: .5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check-navbar:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

/**/

.header-img .img-header {
    width: 100%;
    height: 700px;
    background: url("../img/clubs/clubs.jpg") no-repeat;
    top: 0;
    background-position: center;
}

/*@media (max-width: 1200px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
}*/



.custom-shape-divider-top-1700774253 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1700774253 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 75px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1700774253 .shape-fill {
    fill: #147cd5;
}

/**/

.custom-shape-divider-bottom-1700827909 {
    position: relative;
    bottom: 85px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1700827909 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 87px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1700827909 .shape-fill {
    fill: #147cd5;
}

footer {
    background: #333;
}

.card {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
}