* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #333;
    overflow: hidden;
}

.main {
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}

#check-navbar {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

#check-navbar:checked~.icons #menu-icon {
    display: none;
}

.icons #close-icon {
    display: none;
}

    #check-navbar:checked~.icons #close-icon {
        display: block;
    }

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check-navbar:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        padding-left: 50%;
        padding-right: 50%;
        margin: .5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check-navbar:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

/**/


.home-content {
    width: 1000px;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}

.home-content p {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 30px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}

.home-content .start-btn {
    width: 190px;
    height: 55px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.home-content .start-btn:hover {
    backdrop-filter: blur(10px);
    box-shadow: none;
    scale: 1.2;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
    font-size: 50px;
    color: #21d3a3;
}

.popup-info .info {
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #21d3a3;
    border: 2px solid #21d3a3;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: #21d3a3;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: #21d3a3;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: #00a076;
    color: #fff;
}

.quiz-section {
    position: relative;
    left: -120%;
    width: 100%;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: 0.25s;
    z-index: 100;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 470px;
    background: none;
    border: 2px solid #21d3a3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}

.quiz-section .quiz-box.active {
    opacity: 1;
    background: transparent;
    width: 500px;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, #21d3a3, transparent);
    border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #21d3a3;
    margin-bottom: 30px;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score {
    background: #21d3a3;
    border-radius: 3px;
    padding: 7px;
}

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover {
    background: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.option-list .option.correct {
    background: transparent;
    color: rgb(36, 196, 36);
    border-color: rgb(36, 196, 36);
}

.option-list .option.incorrect {
    background: transparent;
    color: rgb(196, 47, 36);
    border-color: rgb(196, 47, 36);
}

.option-list .option.disabled {
    pointer-events: none;
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #21d3a3;
    padding-top: 20px;
    margin-top: 25px;
}

.quiz-footer .question-total {
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: .5s;
}

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: #21d3a3;
    border-color: #21d3a3;
    color: #fff;
}

.quiz-footer .next-btn.active:hover {
    background: #21d3a3;
    border-color: #21d3a3;
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid #21d3a3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
    font-size: 52px;
}

.result-box .percentage-container {
    width: 300px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage-container .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#21d3a3 3.6deg, #4f4f4f 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage-container .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #4f4f4f;
    border-radius: 50%;
}

.circular-progress .progress-value {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.percentage-container .score-text {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;
}

.buttons button {
    width: 130px;
    height: 47px;
    background: rgb(12, 173, 130);
    border: 2px solid rgb(12, 173, 130);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}

.buttons button:nth-child(1):hover {
    background: rgb(8, 129, 96);
    border-color: rgb(8, 129, 96);
}

.buttons button:nth-child(2) {
    background: transparent;
    color: rgb(12, 173, 130);
}

.buttons button:nth-child(2):hover {
    background: rgb(12, 173, 130);
    color: #fff;
}